<div class="position-absolute top-100 start-100 translate-middle ml-0 bg-danger" style="position: absolute; width: 1110px;">
    <H1 class="text-white" style="margin-left: 350px;">Menú principal <img src="favicon.ico" alt=""></H1>
</div>

<div class="mt-5" style="position: absolute; top: 125px;">
    <h3 class="text-white"><i class="fa fa-arrow-left" aria-hidden="true"></i> Seleccionar para navegar en la app</h3>
</div>


<div class="mt-5" style="position: absolute; top: 25px; margin-left: 30%; margin-right: 30%;">
    <h3 class="text-white">Bienvenido! {{ this.usu }}</h3>
</div>
